@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .reset-color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .reset-color-input::--webkit-color-swatch {
    border-radius: 50%;
    border: none;
  }
  .reset-color-input::--moz-color-swatch {
    border-radius: 50%;
    border: none;
  }
}

.btn {
  @apply dark:border dark:border-zinc-700;
}
